.ant-row.ant-form-item {
    margin-bottom: 5px !important
}
.ant-col.ant-form-item-label {
    padding-bottom: 0px !important;
}

.page-title {
    color: #3792cb;
    font-weight: 700;
    font-size: 1.5em;
}

#google-icon {
    width: 15px;
}