.ant-list-item {
    padding: 0px 20px 0px 8px !important;
}

.ant-list-item-meta-content {
    z-index: 100;
}

.ant-list-item-meta-ewallet {
    margin-left: -25px;
}

.payment-method-title {
    margin-top: 12px;
    margin-left: -30px;
}

#article-body {
    font-family: initial !important;
    font-size: initial !important;
}

#article-body > p {
    margin-bottom: 5px;
}

#article-container {
    background-color: #ededed;
}

#article-container p#card-title {
    font-size: 20pt;
}
.article-price > div > h5.title {
    font-size: 17px;
}

.comment-action {
    padding-left: 5px;
}

.ant-comment-actions svg {
    margin-top: -5px;
}

.membership-name {
    font-weight: 700;
}