#article-body {
    font-family: initial !important;
    font-size: initial !important;
}

.ant-list-item-meta-title {
    margin-bottom: 5px !important;
}

.box-analysis {
    min-height: 110px;
}

.box-title, .emiten-price  {
    font-weight: 500;
    color: #505050;
}

.emiten-code {
    font-weight: bold;
    font-size: 25px;
}

.emiten-price {
    font-weight: 700;
    font-size: 25px;
}

.filter-form {
    width: 100%;
}

.margin-of-safety {
    font-size: 40px;
    font-weight: 700;
}

.verified-user {
    background-color: white;
}

.verified-user > svg {
    border-radius: 50px;
    /* border: 3px #007bff solid; */
    color: #007bff;
    padding: 1px;
    margin-top: -10px;
    font-size: 20px;
}